form {
  background-color: #fff;
  background: linear-gradient(0deg, #2b2f77 0, #141852 50%, #070b34 100%);
  padding: 40px;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  border-radius: 30px;
  align-content: center;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}


.contact-form-h1 {
  color: #fff;
  text-decoration: underline;
  font-size: 2rem;
  font-family: "Dancing Script";
}


input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

