/* Media Queries */

@media (max-width: 800px) {
  #portfolio {
    margin: auto;
    border-radius: 0;
  }
}

@media (max-width: 600px) {
  .contactBox,
  .contentBox {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
  }
  .contentBox .line {
    display: none;
  }
}